<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Steve Ortiz</a>
    </div>
    <div class="collapse navbar-collapse" id="primary-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sample/">Sample Work</a></li>
        <li><a href="/chess-demo/">Chess Demo</a></li>
        <li><a href="/navair/">NAVAIR</a></li>
        <li><a href="/business/">Business Solutions</a></li>
      </ul>
    </div>
  </div>
</nav>
