<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">{{site.title}}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sample Work <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/sample-work/chess-toolkit/">Chess Toolkit</a></li>
            <li><a href="/sample-work/chess-openings/">Chess Openings</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Experience <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/experience/rackspace/">Rackspace</a></li>
            <li><a href="/experience/navair/">NAVAIR</a></li>
            <li><a href="/experience/quetzal/">Quetzal Consulting</a></li>
            <li><a href="/experience/tamu/">Texas A&amp;M University</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
