
// prevent fixed navbar from overlapping content
body {
  padding-top: 50px;
}

div.bump-down {
  margin-top: 2em;
}

div.stacks {
  margin-bottom: 1em;
}

iframe {
  border: 0px;
}

.navbar {
  border-radius: 0;
}

footer.navbar {
  margin-top: 2em;
}

div.inline {
  display: inline-block;
}

i {
  color: $brand-primary;
}

.nav li a {
  color: $brand-primary;
}

.jumbotron {
    background-image: url(http://5d6e751938179cb4c676-7e78ad4f897ae0179c6a991c235afb37.r3.cf5.rackcdn.com/images/aggie-interns-2015.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: $brand-primary 0.3em 0.3em 0.3em;
}

.container {
  h3 {
    &:before {
      content: "+ ";
      color: $link-hover-color;
    }
    &:hover{
      cursor: pointer;
      color: $link-hover-color;
    }
    &.active {
      &:before {
        content: "\2013\0020 ";
      }
    }
  }
}
