<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include navbar.html %}

<div class="jumbotron">
  <div class="container">
    <h1 class="page-header">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
    <p>{{ page.hero }}</p>
  </div>
</div>

<div class="container">
{% if page.quote %}
  <div class="col-sm-8">
    {{ content }}
  </div>
  <div class="col-sm-4">
    <blockquote>{{ page.quote}}</blockquote>
    <cite>{{ page.cite }}</cite>
  </div>
{% else %}
  {{ content }}
{% endif %}
</div>

{% include footer.html %}

</body>
</html>
